*{
    background-color: #111C24;
}

html{
    scroll-behavior: smooth;
}

body, html{
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: ManoNegra;
  src: url(./FONTS/WCManoNegraBta.otf);}

@font-face {
  font-family: ManoNegraBold;
  src: url(./FONTS/WCManoNegraBoldBta.otf);}

h2{
  font-family: 'Museo Sans', sans-serif; font-weight: 500;
  font-size: 3vh;
  background-color: transparent;
  color: #E5FF39;
}

/* ABOUT US TAB */
.aboutvideo-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.aboutvideo iframe{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* WORK TAB */
.workhome-overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #5A87DC; opacity: 70%;
}

.workhome-section-content {
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.workhome-section-content img{
    background-color: transparent;
    width: 30em;
    position: absolute;
    top: 20em;
    left: 50em; 
}

.workhome-section-content svg{
    background-color: transparent;
    fill:#111C24;
    width: 20em;
    position: absolute;
    top: 38em;
    left: 42em; 
}

.workhome-section-content svg:hover {
    background-color: transparent;
    fill:#E5FF39;
    transition: 0.3 ease;
}

/* WORK GALLERY*/
.gallery-container{
    /*display: flex;*/
    background-color: #FBF9ED;
    padding-top: 5vh; margin: 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    /*width: 100vw;*/
}

.gallery {
  /*display: flex;*/
  width: 100vw;
  height: 100vh;
  background: transparent;
  overflow-x: auto;
  overflow-y: hidden;
}

.grid-gallery-container {
  height: 100vh;
  width: 300vw;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background: transparent;
}

.project {
  overflow: hidden;
  background: transparent;
}

.project img{
    object-fit: cover;
    background: transparent;
    width: 100%;height: 100%;
    padding: -4vh;
}

.project1 {
  z-index: 48;
  grid-area: 2/2/9/10;
}
.project1_1 {
  z-index: 49;
  grid-area: 5/8/11/13;
}

.project2 {
  z-index: 50;
  grid-area: 6/15/15/23;
}
.project2_2 {
    z-index: 51;
    grid-area: 8/13/16/18;
}

.project3 {
  z-index: 52;
  grid-area: 1/26/10/34;
}
.project3_3 {
    z-index: 53;
    grid-area: 1/25/12/27;
}

.project4 {
  z-index: 55;
  grid-area: 9/36/16/44;
}
.project4_4 {
    z-index: 54;
    grid-area: 3/40/14/48;
}

.grid-gallery-container > * {
  transition: all 0.5s;
}

.grid-gallery-container > *:hover {
  transform: scale(110%);
}

.projectoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111C24; 
  opacity: 0; 
  transition: opacity 0.7s;
  z-index: 100;
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FBF9ED;
  text-align: center;
  opacity: 0;
  transition: opacity 0.7s;
  background-color: transparent;
  z-index: 120;
}

.project:hover .projectoverlay{
  opacity: 0.85;
}

.project:hover .project-info{
  opacity: 1;
}

/* FOOTER */
.footer {
    height: 6vh;
    width: 100vw;
    display: flex; 
    align-items:center;
    justify-content:center;
    align-content: space-evenly;
    z-index: 1000;
    position: absolute;
    left: 0;
    align-self: baseline;
}


footer a {
    background-color: transparent;
    color: #FBF9ED;
    font-family: 'museo-sans', sans-serif; font-weight: 300; font-size: 10pt;
    text-align: center;
}

footer div{
    padding-left: 18vw;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}

footer div a{
    padding-left: 1.5vw;
}

footer div a img:hover{
    scale: 110%;
}

.socialmedia svg{
    width: 1.55em;
    height: 1.55em;
    background-color: transparent;
    fill: #FBF9ED;
}

.socialmedia svg:hover{
    fill: #E5FF39;
}

#back-to-top {
    text-decoration: none;
    transition: color 0.3 ease;
    padding-right: 10vw;
}

#back-to-top:hover {
    color: #E5FF39;
}