*{
    background-color: #111C24;
}

html{
    scroll-behavior: smooth;
}

body, html{
    margin: 0;
    padding: 0;
}

/* HEADER*/
header {
    height: 3em;
    width: 100%;
    padding-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: right;
    box-shadow: 0.1em 1.5em rgba(0, 0, 0, 0.1);
}

.logo svg{
    fill: #E5FF39;
    padding-right: 55em;
    width: 70px;
    height: auto;
}

.logo svg:hover {
    fill: #5A87DC; 
    transition: 0.3 ease;
}

nav ul {
    list-style: none; 
    font-family: 'museo-sans', sans-serif; font-weight: 300; 
    justify-content: right;
    
}

nav ul li {
    display: inline;
    margin-right: 3em;}


nav ul li a {
    color: #FBF9ED;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #5A87DC;
}
/* TERMINA HEADER */



/*LANDING PAGE VIDEO*/
.homevideo-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.homevideo{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 95%;
    object-fit: cover;
}

.homevideo-overlay{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: #111C24; opacity: 70%;
}

/* Para contenido sobre el video de fondo */
.video-section-content {
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.video-section-content img{
    background-color: transparent;
    width: 30em;
    position: absolute;
    top: 20em;
    left: 50em; 
}

.video-section-content svg{
    background-color: transparent;
    fill: #E5FF39;
    width: 20em;
    position: absolute;
    top: 38em;
    left: 42em; 
}

.video-section-content svg:hover{
    background-color: transparent;
    fill:#5A87DC
}

/* SCREEN INFO */
.info-container{
    display: flex;
    background-color: #E5FF39;
    padding-top: 5vh; margin: 0;
    position: -webkit-sticky; 
    /*position: sticky;*/
    top: 0;
    /*z-index: 100;*/
}

.container {
  display: flex;
  width: 50%;
  height: 100vh;
}

.grid-container {
  /*max-width: 600px;*/
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  background: transparent;
}

.collage {
  background: transparent;
}

.item {
  overflow: hidden;
  background: transparent;
}

.item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.item1 {
  z-index: 2;
  grid-area: 1/1/8/10;
}
.item2 {
  z-index: 3;
  grid-area: 3/8/13/-1;
}
.item3 {
  z-index: 4;
  grid-area: 11/2/16/12;
}

.grid-container > * {
  transition: all 0.5s;
}

.grid-container > *:hover {
  /*z-index: 5;*/
  transform: scale(110%);
}

.side-text {
    width: 50%;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    font-family: 'museo-sans', sans-serif; font-weight: 300;
    padding-top: 25vh;
}

.side-text p {
    background-color: transparent;
    justify-content: center;
    text-align: center;
    color: #111C24;
    padding-left: 8vw; padding-right: 8vw;
}

.torodrilo-welcome {
background-color: transparent;
fill:#5A87DC;
padding-bottom: -2vh;
}

.AboutUs-Button {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    align-content: center;
    background-color: transparent;
    fill: #111C24;
    transition: fill-color 0.3s ease;
    padding-top: 5vh;
}

.AboutUs-Button svg {
    display: inline-flex;
    background-color: transparent;
    vertical-align: middle;
}

.AboutUs-Button svg text{
    font-family: 'museo-sans', sans-serif; font-weight: 400; 
    font-size: 7vw;
    fill:#FBF9ED;
}

.AboutUs-Button svg text:hover{
    fill:#FBF9ED;
}

.AboutUs-Button :hover {
    fill: #5A87DC;
}

.AboutUs-Button :active {
    fill:#FBF9ED;
}

.TextOnTop-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.container2 {
  position: sticky; /* or absolute, depending on your layout */
  /* top: 100px;  Adjust as needed to ensure it appears below container1 */
  /*background-color: #fffff;/* Adjust as needed */
  /* z-index: 50; /* Lower than the z-index of container1 */
  /*height: 1080px;
}
*/

/* FOOTER */
.footer {
    height: 3em;
    width: 100%;
    display: flex; 
    align-items:center;
    justify-content:center;
    left: 0;
    bottom: 0;
    align-content: space-evenly;
    /*z-index: 1;*/
}

footer a {
    background-color: transparent;
    color: #FBF9ED;
    font-family: 'museo-sans', sans-serif; font-weight: 300; font-size: 10pt;
    text-align: center;
}

footer div{
    padding-left: 18vw;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
}

footer div a{
    padding-left: 1.5vw;
}

footer div a img:hover{
    scale: 110%;
}

.socialmedia svg{
    width: 1.55em;
    height: 1.55em;
    background-color: transparent;
    fill: #FBF9ED;
}

.socialmedia svg:hover{
    fill: #E5FF39;
}

#back-to-top {
    text-decoration: none;
    transition: color 0.3 ease;
    padding-right: 10vw;
}

#back-to-top:hover {
    color: #E5FF39;
}


